<template lang="html">
    <ScrollView>
        <StackLayout width="100%">
            <Label class="drawer-header" text="Symbiomatique"/>

            <Label
                    v-for="(page, i) in pages"
                    @tap="goToPage(page.component, page.options)"
                    class="drawer-item"
                    :text="page.name"
                    :key="i"
            />

            <Button class="btn btn-primary drawer-close-button" @tap="closeDrawer()">Fermer</Button>
        </StackLayout>
    </ScrollView>
</template>

<script lang="ts">
    import sideDrawer from '../mixins/sideDrawer'
    export default {
        mixins: [sideDrawer],
        computed: {
            components: {
                get () {
                    let components = []
                    this.$http.get('/v1/component')
                        .then((response) => {
                            response.data.component.forEach(
                                (comp) => {
                                    components.push({ id: comp.id, name: comp.name })
                                }
                            )
                        })
                    return components
                }
            },
            pages: {
                get () {
                    if (!this.login) {
                        return [
                            { name: 'Accueil', component: this.$routes.Welcome, options: {} },
                            { name: 'Connexion', component: this.$routes.Connection, options: {} }
                        ]
                    } else {
                        return [
                            { name: 'Accueil', component: this.$routes.Welcome, options: {} },
                            { name: 'Chercher le meilleur matériel', component: this.$routes.Questions, options: {} },
                            { name: 'Liste des équipements', component: this.$routes.ListEquipment, options: {} },
                            { name: 'Ajouter un équipement', component: this.$routes.AddEquipment, options: { props: { components: this.components } } }
                        ]
                    }
                }
            },
            login: {
                get () { return this.$store.getters.isLogged }
            }
        },
        methods: {
            goToPage (pageComponent, pageOptions) {
                this.$navigateTo(pageComponent, pageOptions)
                this.closeDrawer()
            }
        }
    }
</script>

<style lang="css">
</style>