// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/forest';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

@import '~nativescript-filter-select/styles.css';

Button {
  @extend .btn
}

Button {
  @extend .btn-primary
}

.custom-action-bar {
  background-color: #53ba82;
  color: #ffffff;
  margin-bottom: 20;
}

.title {
  text-align: left;
  padding-left: 16;
}

.drawer-close-button {
  margin-top: 20;
  padding: 10 10 10 10;
}

.drawer-header {
  padding: 50 16 16 16;
  margin-bottom: 16;
  background-color: #333333;
  color: #ffffff;
  font-size: 24;
}

.drawer-item {
  padding: 8 16;
  color: #333333;
  font-size: 16;
}