<template lang="html">
    <Page class="page">
        <ActionBar class="action-bar custom-action-bar">
            <GridLayout width="100%" columns="auto, *">
                <Image src="~/assets/images/menu_48dp.png" @tap="openDrawer" col="0" stretch="aspectFill" />
                <Label class="action-bar-title title" text="Symbiomatique" col="1"/>
            </GridLayout>
        </ActionBar>

        <GridLayout ~mainContent>
            <StackLayout v-if="login"> <!-- Check role -->
                <GridLayout width="100%" columns="auto, auto" rows="auto, auto">
                    <TextField hint="Nom de l'équipement" v-model="equipment.name" col="0" row="0" />
                    <Button class="btn btn-primary" text="Ajouter l'équipement" @tap="addEquipment" col="1" row="0" />
                    <TextView keyboardType="number" hint="Prix de l'équipment" v-model="equipment.price" col="0" row="1" />
                </GridLayout>
                <FilterSelect
                        height="100%"
                        :items="components"
                        hint="Sélectionnez les composants"
                        modal_title="Rechercher un composant" search_param="name"
                        primary_key="id"
                        searchHint="Rechercher un composant"
                        closeText="Fermer"
                        doneText="Enregistrer"
                        clearText="Réinitialiser"
                        selectText="Sélectionner"
                        @close="updateSelectedComponents"
                >
                </FilterSelect>
            </StackLayout>
        </GridLayout>
    </Page>
</template>

<script lang="ts">
    import sideDrawer from '../mixins/sideDrawer'
    import {Feedback, FeedbackType} from 'nativescript-feedback'

    export default {
        mixins: [sideDrawer],
        data () {
            return {
                equipment: {},
                selectedComponents: []
            }
        },
        props: {
            components: {
                type: Array,
                required: true
            }
        },
        computed: {
            login: {
                get () { return this.$store.getters.isLogged },
                set (v) { return this.$store.commit('setLoggedIn', v) }
            }
        },
        methods: {
            addEquipment(): void {
                this.equipment.price = parseFloat(this.equipment.price)
                this.$http.post('/v1/equipment', this.equipment)
                    .then((response) => {
                        this.selectedComponents.forEach(component =>
                            this.$http.post('/v1/equipment_components', { equipment_id: response.data.id, component_id: component })
                                .then(() => {
                                    const successToast = new Feedback()
                                    successToast.show({
                                        message: "Equipement ajouté avec succès !",
                                        type: FeedbackType.Success
                                    })
                                })
                        )
                    })
                    .catch((error) => {
                        console.log(error)
                        let message: string
                        if (error.response.status == 401) {message = "Action non autorisée"} else {message = "Erreur inattendue"}
                        const errorToast = new Feedback()
                        errorToast.show({
                            message: message,
                            type: FeedbackType.Error
                        })
                    })
            },
            updateSelectedComponents(args): void {
                args.selected.forEach(element => this.selectedComponents.push(element.id))
            }
        }
    }
</script>

<style lang="css">
</style>