<template lang="html">
    <Page class="page">
        <ActionBar class="action-bar custom-action-bar">
            <GridLayout width="100%" columns="auto, *">
                <Image src="~/assets/images/menu_48dp.png" @tap="openDrawer()" col="0" stretch="aspectFill" />
                <Label class="action-bar-title title" text="Connexion à Symbiomatique" col="1"/>
            </GridLayout>
        </ActionBar>

        <GridLayout ~mainContent>
            <StackLayout v-if="!login"  class="form">
                <TextField class="input input-border" horizontalAlignment="stretch" height="70" v-model="username" hint="Identifiant" />
                <TextField class="input input-border" horizontalAlignment="stretch" height="70" v-model="password" hint="Mot de passe" secure="true" />
                <Button class="btn btn-primary" horizontalAlignment="stretch" height="70" text="Se connecter" @tap="connect" />
            </StackLayout>
        </GridLayout>
    </Page>
</template>

<script lang="ts">
    // TODO : Add/delete in Application Settings the Bearer Token, use Vuex to manage state (logged in or not, special actions if logged, etc) https://www.nativescript.org/blog/key-value-local-storage-in-a-vue.js-nativescript-app-with-vuex
    // A mixin might be used for refresh tokens
    import sideDrawer from '../mixins/sideDrawer'
    import * as AppSettings from '@nativescript/core/application-settings'
    import JWT from 'jwt-decode'
    import {Feedback, FeedbackType} from "nativescript-feedback";
    import Questions from "@/pages/Questions.vue";

    interface JWTPayload {
        id: number
        c: number
        l: number
        e: string
        r: number
    }

    export default {
        mixins: [sideDrawer],
        data () {
            return {
                username: '',
                password: '',
                id: '',
                company_id: '',
                location_id : '',
                email: '',
                role: '',
                tags: [],
                questions: [],
                questionsPage: Questions
            }
        },
        computed: {
            login: {
                get () { return this.$store.getters.isLogged },
                set (v) { return this.$store.commit('setLoggedIn', v) }
            }
        },
        watch: {
            login(val) {
                if (val) {
                    this.$navigateTo(this.questionsPage)
                }
            }
        },
        methods: {
            connect(): void {
                this.$http.post('/login', {
                    username: this.username,
                    password: this.password
                })
                    .then((response) => {
                        const token = response.data.token
                        const refreshToken = response.data.refresh_token
                        if (token) { this.login = true }
                        AppSettings.setString('token', token)
                        AppSettings.setString('refreshToken', refreshToken)
                        this.$http.defaults.headers.common['Authorization'] = `Bearer ${token}`

                        let tokenPayload : JWTPayload = JWT(token)
                        this.id = tokenPayload.id
                        this.company_id = tokenPayload.c
                        this.location_id = tokenPayload.l
                        this.email = tokenPayload.e
                        this.role = tokenPayload.r
                    })
                    .catch((error) => {
                        console.log(error)
                        let message: string
                        if (error.response.status == 401) {message = "Identifiants / Mot de passe incorrects"} else {message = "Erreur inattendue"}
                        const wrongLogin = new Feedback()
                        wrongLogin.show({
                            message: message,
                            type: FeedbackType.Error
                        })
                    })
            }
        }
    }
</script>
