<template lang="html">
    <Page class="page">
        <ActionBar class="action-bar custom-action-bar">
            <GridLayout width="100%" columns="auto, *">
                <Image src="~/assets/images/menu_48dp.png" @tap="openDrawer()" col="0" stretch="aspectFill" />
                <Label class="action-bar-title title" text="Supprimer un équipement" col="1"/>
            </GridLayout>
        </ActionBar>

        <GridLayout ~mainContent>
            <StackLayout v-if="login"> <!-- Check role -->
            </StackLayout>
        </GridLayout>
    </Page>
</template>

<script lang="ts">
    import sideDrawer from '../mixins/sideDrawer'

    export default {
        mixins: [sideDrawer],
        data () {
            return {
            }
        },
        computed: {
            login: {
                get () { return this.$store.getters.isLogged },
                set (v) { return this.$store.commit('setLoggedIn', v) }
            }
        },
        methods: {
            deleteEquipment(idEquipment): void {
                this.$http.delete('/v1/equipment' + idEquipment, {
                })
                    .then((response) => {
                    })
                    .catch((error) => {
                    })
            }
        }
    }
</script>

<style lang="css">
</style>