<template lang="html">
    <Page class="page">
        <ActionBar class="action-bar custom-action-bar">
            <GridLayout width="100%" columns="auto, *">
                <Image src="~/assets/images/menu_48dp.png" @tap="openDrawer()" col="0" stretch="aspectFill" />
                <Label class="action-bar-title title" text="Liste des équipements" col="1"/>
            </GridLayout>
        </ActionBar>

        <GridLayout ~mainContent>
            <StackLayout> <!-- Check role -->
                <ListView for="(equipment, index) in listEquipment" ref="listView">
                    <!-- Use pan event : https://play.nativescript.org/?template=play-vue&id=C8QFJH&v=59 -->
                    <v-template>
                        <StackLayout>
                            <Label class="h3 text-center p-10 banner" :text="equipment.name"
                                   @tap="$navigateTo(updatePage, { props: { idEquipment: equipment.id } })"/>
                        </StackLayout>
                    </v-template>
                </ListView>
            </StackLayout>
        </GridLayout>
    </Page>
</template>

<script lang="ts">
    import sideDrawer from '../mixins/sideDrawer'
    import UpdateEquipment from "@/pages/UpdateEquipment.vue";

    export default {
        mixins: [sideDrawer],
        data() {
            return {
                updatePage: UpdateEquipment,
                listEquipment: []
            }
        },
        created() {
            this.$http.get('/v1/equipment')
                .then((response) => {
                    this.listEquipment = response.data.equipment
                })
                .catch((error) => {
                })
        },
        computed: {
            login: {
                get() {
                    return this.$store.getters.isLogged
                },
                set(v) {
                    return this.$store.commit('setLoggedIn', v)
                }
            }
        }
    }
</script>

<style lang="css">
</style>