<template lang="html">
    <Page class="page">
        <ActionBar class="action-bar custom-action-bar">
            <GridLayout width="100%" columns="auto, *">
                <Image src="~/assets/images/menu_48dp.png" @tap="openDrawer()" col="0" stretch="aspectFill" />
                <Label class="action-bar-title title" text="Recherchez de l'équipement" col="1"/>
            </GridLayout>
        </ActionBar>

        <GridLayout ~mainContent>
            <StackLayout>
                <ListView for="(tag, index) in tags" ref="listView"> <!-- Use pan event : https://play.nativescript.org/?template=play-vue&id=C8QFJH&v=59 -->
                    <v-template>
                        <StackLayout>
                            <Label class="h3 text-center p-10 banner" :text="tag.name" />
                            <GridLayout columns="50, *, 50">
                                <Label class="h3 text-center p-10 banner" text="0" col="0" />
                                <Slider minValue="0" maxValue="100" col="1" class="slider" v-model="questionData.wanted_average_score[index]" />
                                <Label class="h3 text-center p-10 banner" text="100" col="2" />
                            </GridLayout>
                        </StackLayout>
                    </v-template>
                </ListView>
                <Button class="btn btn-primary" text="Chercher le meilleur équipement !" @tap="getResult" />
                <StackLayout v-if="responseData">
                    <Label class="h3 p-10 banner" :text="'Nom de l\'équipement : ' + responseData.name" />
                    <Label class="h3 p-10 banner" :text="'Prix de l\'équipement : ' + responseData.price" />
                </StackLayout>
            </StackLayout>
        </GridLayout>
    </Page>
</template>

<script lang="ts">
    import sideDrawer from '../mixins/sideDrawer'
    export default {
        mixins: [sideDrawer],
        data () {
            return {
                tags: [],
                questionData: { wanted_average_score: [] },
                responseData: null
            }
        },
        created() {
            this.$http.get('/v1/tag')
                .then((response) => {
                    this.tags = response.data.tag
                })
        },
        methods: {
            getResult(): void {
                this.$http.patch('/v1/equipment/check-best-match', this.questionData)
                    .then((response) => {
                        this.responseData = response.data
                    })
            }
        }
    }
</script>

<style lang="css">
</style>