<template lang="html">
    <Page class="page">
        <ActionBar class="action-bar custom-action-bar">
            <GridLayout width="100%" columns="auto, *">
                <Image src="~/assets/images/menu_48dp.png" @tap="openDrawer()" col="0" stretch="aspectFill" />
                <Label class="action-bar-title title" text="Mise à jour d'un équipement" col="1"/>
            </GridLayout>
        </ActionBar>

        <GridLayout ~mainContent>
            <StackLayout v-if="login"> <!-- Check role -->
                <TextField :text="equipment.name" :hint="equipment.name" v-model="equipment.name" />
                <TextView keyboardType="number" hint="Prix de l'équipment" v-model="equipment.price" />
                <Label class="h3 text-center p-10 banner" text="Liste des composants associés à cet équipement :"/>
                <ListView for="(component, index) in components" ref="listView">
                    <v-template>
                        <StackLayout>
                            <Label class="h3 p-10 banner" :text="component.name"/>
                        </StackLayout>
                    </v-template>
                </ListView>
                <Button class="btn btn-primary" text="Enregistrer les modifications" @tap="updateEquipment" />
            </StackLayout>
        </GridLayout>
    </Page>
</template>

<script lang="ts">
    import sideDrawer from '../mixins/sideDrawer'
    import {Feedback, FeedbackType} from "nativescript-feedback";

    export default {
        mixins: [sideDrawer],
        data () {
            return {
                equipment: {},
                components: []
            }
        },
        props: {
            idEquipment: {
                type: Number,
                required: true
            }
        },
        computed: {
            login: {
                get () { return this.$store.getters.isLogged },
                set (v) { return this.$store.commit('setLoggedIn', v) }
            }
        },
        created() {
            this.$http.get('/v1/equipment/' + this.idEquipment, {
            })
                .then((response) => {
                    this.equipment = response.data
                    this.components = response.data.components
                })
                .catch((error) => {
                })
        },
        methods: {
            updateEquipment(): void {
                this.$http.patch('/v1/equipment/' + this.idEquipment,
                    this.equipment
                )
                    .then(() => {
                        const successToast = new Feedback()
                        successToast.show({
                            message: "Equipement modifié avec succès !",
                            type: FeedbackType.Success
                        })
                    })
                    .catch(() => {
                        const errorToast = new Feedback()
                        errorToast.show({
                            message: "Erreur de modification inattendue.",
                            type: FeedbackType.Error
                        })
                    })
            }
        }
    }
</script>

<style lang="css">
</style>