<template lang="html">
    <Page class="page">
        <ActionBar class="action-bar custom-action-bar">
            <GridLayout width="100%" columns="auto, *">
                <Image src="~/assets/images/menu_48dp.png" @tap="openDrawer()" col="0" stretch="aspectFill" />
                <Label class="action-bar-title title" text="Bienvenue sur Symbiomatique !" col="1"/>
            </GridLayout>
        </ActionBar>

        <GridLayout ~mainContent>
            <StackLayout>
                <Label textWrap="true" class="body m-15" :text="text"/>
            </StackLayout>
        </GridLayout>
    </Page>
</template>

<script lang="ts">
    import sideDrawer from '../mixins/sideDrawer'
    export default {
        mixins: [sideDrawer],
        data () {
            return {
                text: 'Félicitation, vous entrez dans le monde de Symbiomatique, la symbiose entre l\'homme et la machine ! Vous aller pouvoir générer une configuration informatique qui vous correspond réellement. Adieu les fausses promesses marketing et les recherches poussées pour obtenir l\'ordinateur de vos rêves !'
            }
        }
    }
</script>

<style lang="css">
</style>